{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Magazine parcours {% endblock %}

{% block body %}

    {% include 'header.html.twig' with {'title': 'Magazine parcours', 'img' : 'uploads/parcours/header.jpg', 'alt' : 'Création site internet WordPress et sur mesure Lorraine Nancy Metz','petit':'Magazines','grand':'Parcours'} %}

    <div class="row parcours-text p-5 m-5">

        {% for parcour in parcours %}



        <div class="col-12 col-md-6 col-xl-4 mt-1 text-center pro p-5">

            <a href="{{ asset('uploads/parcours/'~parcour.pdf)}}" target="_blank">
                <img class="img-fluid mb-4 img-parcours" src="{{ asset('uploads/parcours/'~parcour.image) }}" alt="{{ parcour.titre }}">
                <i class="far fa-file-pdf fa-4x " id="ico" style="position: absolute;top:45%;left: 45%;"></i>
            </a>

            <p class="text-left ">{{ parcour.createdAt| date('Y') }}</p>
        </div>

        {% endfor %}

    </div>


{% endblock %}
