{% extends 'base.html.twig' %}

{% block title %}Fiches index{% endblock %}

{% block body %}
    <h1>Fiches index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Sous_titre</th>
                <th>Image</th>
                <th>Pdf</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fich in fiches %}
            <tr>
                <td>{{ fich.id }}</td>
                <td>{{ fich.titre }}</td>
                <td>{{ fich.sousTitre }}</td>
                <td>{{ fich.image }}</td>
                <td>{{ fich.pdf }}</td>
                <td>{{ fich.createdAt ? fich.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('fiches_show', {'id': fich.id}) }}">show</a>
                    <a href="{{ path('fiches_edit', {'id': fich.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fiches_new') }}">Create new</a>
{% endblock %}
