<div id="footer"  class="container-fluid footer " >
   {# <div class="row mt-5">
        <a href="https://evok.fr" id="logoFooter"><img src="{{ asset('img/evok-footer.svg') }}" alt="" id="logoFooter" ></a>
    </div>
    <div class="row ">
        <div class="col border-design pl-0 pr-0"></div>
        <div class="col border-communication pl-0 pr-0"></div>
    </div>
    <div class="row pole-container"> 
        <div class="col text-uppercase pl-5 pole"><a href="{{path('index')}}">Design industriel</a></div>
        <div class="col text-uppercase pole pr-5 text-right"><a href="https://evok-communication.fr">Communication</a></div>
    </div>
    <div class="row bgFooter">
        <div class="col flex">
            <a href="https://www.instagram.com/evok_design/" target="_blank"><img src="{{ asset('img/instagram.svg') }}" alt=""></a>
            <a href="https://www.facebook.com/evokdesign/" target="_blank"><img src="{{ asset('img/facebook.svg') }}" alt=""></a>
            <a href="https://www.linkedin.com/company/2876531/" target="_blank"><img src="{{ asset('img/linkedin.svg') }}" alt=""></a>
        </div>
    </div>
    <div class="row bgFooter text-center">
        <div class="col flex d-inline">
            <a href="https://evok-international.com/"><span style="font-weight: bolder;">EVOK INTERNATIONAL</span></a>
        </div>

    </div>
    <div class="row bgFooter">
        <div class="col text-center">
            <p>310 rue Pierre et Marie Curie<br/>
                54710 LUDRES</p>
            <p>+33 3 83 25 24 57<br/>
                <a href="{{ path('mentions') }}" class="text-mentions">Mentions légales</a>
            </p>
        </div>
    </div>
    <div class="row bgFooter pt-0">
        <div class="col text-center">

        </div>
    </div>#}

    <div class="row  p-5 LesP  mx-5" style="margin-left: 7vw!important;">
        <div class="col d-flex flex-column ">
            <p>L'AGENCE</p>
            <span><a href="http://maps.google.com/?q=310 Rue Pierre et Marie Curie, 54710 Ludres" class="lien" target="_blank">310 Rue Pierre et Marie Curie </a></span>
            <span><a href="http://maps.google.com/?q=310 Rue Pierre et Marie Curie, 54710 Ludres" class="lien" target="_blank">54710 Ludres </a></span>
            <span><a href="{{ path('mentions') }}" class="lien"  target="_blank" >Mentions légales</a></span>
        </div>
        <div class="col d-flex flex-column">
            <p>CONTACT</p>
            <span><a href="tel:+33383252457" class="lien" target="_blank">+33 3 83 25 24 57</a></span>
            <span><a href="mailto:evokdesign@evok.fr" class="lien" target="_blank">contact@evok.fr</a></span>
        </div>
        <div class="col d-flex flex-column">
            <p>AUTRES AFFILIATIONS</p>
            <span><a href="https://evok-international.com/"class="lien" target="_blank">Evok International</a></span>
            <span><a href="#" class="lien" target="_blank">Biennale du Design Grand Est</a></span>
        </div>
        <div class="col d-flex flex-column">
            <p>RESEAUX SOCIAUX</p>
            <span><a href="https://www.instagram.com/evok_design/" target="_blank" class="lien">Instagram</a> / <a href="https://www.linkedin.com/company/2876531/" target="_blank" class="lien">Linkedin</a> / <a href="https://www.facebook.com/evokdesign/" target="_blank" class="lien">Facebook</a></span>
        </div>

    </div>

</div>